@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #278ea5;
  height: 80px;
  color: #fff;
  padding: 30px;
  position: relative;
}

.logo {
  font-size: 60px;
  cursor: pointer;
  color: #071e3d;
}

.nav-bar ul {
  display: flex;
  margin-right: 100px;
  gap: 50px;
}

ul li {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

ul li:hover {
  color: #071e3d;
}

.hamburger-menu {
  cursor: pointer;
  display: none;
}
.hamburger-menu span {
  display: block;
  margin: 5px;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  background-color: #fff;
}

input {
  position: absolute;
  right: 45px;
  top: 20px;
  appearance: none;
}

input:checked .hamburger-menu:nth-child(1) {
  transform: rotate(45deg);
}

@media (max-width: 968px) {
  .hamburger-menu {
    display: block;
  }
  .nav-bar {
    position: relative;
  }
  .nav-bar ul {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
    background-color: #21e6c1;
    width: 100%;
    text-align: center;
    display: none;
  }
}


.section-cards{
  margin: 50px;
  color: #fff; 
  /* #CFCFCF */
}

.card{
  background-color: #206777;
  height: 450px;
  width: 320px;
  box-shadow: 15px 11px 13px -8px rgba(0,0,0,0.37);
  -webkit-box-shadow: 15px 11px 13px -8px rgba(0,0,0,0.37);
  -moz-box-shadow: 15px 11px 13px -8px rgba(0,0,0,0.37);
}

.buttons{
  margin: 20px;
  color: #686868;
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 20px;
}

.button{
  display: inline-block;
  padding: 7px 45px;
  font-size: 19px;
  background-color: #071e3d;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  transition: all .35s ease;
}

.button:hover{
  color: #fff;
}