*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.the-pic{
  margin-top: 40px;
  position: relative;
  transition: transform .15s ease-in-out;
  display: inline-block;
}

.the-pic:hover{
  transform: translateY(-42px);
}

.the-pic img{
  width: 305px;
  height: 400px;
  cursor: pointer;
  border-radius: 12px;
}

.container{
  margin: 10px;
}

.image-container{
  position: relative;
}

.image-container p{
  color: white;  
  position: absolute;
  bottom: 20px;
  left: 10px;
  text-transform: uppercase;
}

.overlay{
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* width: 300px; */
  width: 305px;
  height: 400px;
  padding: 10px 25px;
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: opacity .7s ease-in-out;

  border-radius: 12px;

}

.overlay:hover{
  opacity: 1;
}

.overlay-sub{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay-1{
  position: absolute;
  top: 0;
  text-align: center;
}

.overlay-2{
  display: inline-block;
  position: absolute;
  top: 350px;
}

.overlay-3{
  position: absolute;
  top: 200px;
  text-align: center;
}