@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
  }

/* Header Styles*/
.header{
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.logo{
  cursor: pointer;
  font-size: 40px;
  color: brown;
}
.menu-list{
  display: flex;
  align-items: center;
  gap: 60px;
  margin-right: 20px;
} 

.menu-item{
  list-style: none;
  position: relative;
}
.menu-links{
  text-decoration: none;
  color: brown;
  font-weight: bold;
}

.menu-links::after{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: tomato;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  transition:  all .15s ease-in-out;
}

.menu-links:hover::after{

  width: 100%;
}



