@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: url(./Images/nyc.jpg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.wrapper {
  padding: 10px;
  color: white;
  text-align: center;
  width: 500px;
  height: 300px;
  box-shadow: 0px 0px 20px 4px rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  cursor: pointer;
  transition: transform 0.4s;
}

.wrapper:hover {
  transform: translateY(-20px);
}